body {

    padding-top: 5rem;

}

#wWeatherContainer {
	background-color: mediumblue;
	color: white;
}

#NOTAMRemind {
	background-color: red;
	color: white;
	text-align: center;
}

canvas {

    width: 100%;

    height: auto;

}

.nav-button-row::before{
	width: 100%;
	content: "";
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

.nav-button-row {
	justify-content: space-between;
	margin-bottom: 10px;
}

.next-only {
	justify-content: flex-end;
}

.errorMessage {
	color: #cc0000;
	font-size: 1.2em;
}

#runwaySelect {
	margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7px;
	width: auto;
}

.hidden {
	display: none;
}

.bg-dark{

background-color: #0f2439 !important;

}



.btn-secondary{

    background-color: #0f2439;



}

#alt-wWind > input {
    width: 100px;
    display: inline;
}

root{

    --gray: #f8f8f8;

    --blue: #4d5f80;

    --blue-dark: #384660;

    --blue-bright: #2472b5;

    --blue-light: #d9dfe8;

}